<!doctype html>
<html lang="en">
  <!-- set up of skeleton layout framework-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FreeCycle</title>
  </head>

  <body>

    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>
      
      <div id="app">
        <h1>Welcome to FreeCycle</h1>
      
        <h2> Set up your item to sell </h2>
        <form  @submit.prevent="postItem">
          <input v-model="item.user_id"  name ="user_id" placeholder="Enter your User Id"/>
          <input v-model="item.keywords" name ="keywords" placeholder="Enter Item keywords"/>
          <input v-model="item.description" name ="description" placeholder="Enter item description"/>
          <input v-model="item.image" name ="image" placeholder="image address (optional)"/>
          <input V-model="item.lat" name ="lat" placeholder="enter lat"/>
          <input v-model="item.lon" name ="lon" placeholder="enter lon"/>
          <button data-action ="create_item">Create Item</button>
        </form>

        <h3>Current items available:</h3>
        <ul>
          <li v-for="item in list">
            <span data-field="user_id">{{item.user_id}}</span>
            <span data-field ="description">{{item.description}}</span>
            <span data-field="keywords">{{item.keywords}}</span>
            <span data-field="image">{{item.image}}</span>
            <span data-field="lat">{{item.lat}}</span>
            <span data-field="lon">{{item.lon}}</span>
            <span data-field="id">{{item.id}}</span>
            <button data-action="delete" @click="deleteItem(item.id)">Delete</button>
          </li>
        </ul>

      </div>

  </body>
</html>

  <script type="module">
    import { createApp, ref } from 'vue'

    // sets the URL to the URLAPI. Using URlParams allows the content to work dynamically with the application. In this case, means no matter what codespace is used the server and client will work together
    // the README.md explains how to set this up. 
    const urlParams = new URLSearchParams(window.location.search);
    const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');
    console.log(urlAPI);
   
    // creates the application, as well as the item object and the list of objects. 
      createApp({
        data() {return {
            item: {
              user_id: "", 
              keywords: [""], 
              description: "", 
              image: "", 
              lat: "", 
              lon: "",             
            },
            list: [],
        } },

        // on start up this calls the getItems func to load the list of items and makes sure the form is clear so new entries can be made. 
        created(){
            this.getItems()
            this.clearForm()
        },

      // the methods the client uses
        methods: {
      // method to clear the form
            clearForm() {
              this.item ={...this.item,... {
                user_id: "",
                keywords: [""], 
                description: "", 
                image: "", 
                lat: "", 
                lon: "", 
              }}
            },

      // method that creates the item using the input
            postItem() {
              console.log(this.item)
              fetch(`${urlAPI}/item`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(this.item),
              })
                    .then(response => response.json())
                    .then(json => console.log("Item created", json))
                    .then(()=>this.clearForm())
                    .then(()=> this.getItems())
              .catch(err => console.error(err))              
            },
      // method that gets the list of items 
            getItems() {
              fetch(`${urlAPI}/items`, {
                    method: 'GET',
              })
                    .then(response => response.json())
                    .then(json => {this.list = json })
                    .then(json => console.log(this.list, json))
              .catch(err => console.error(err))
            },
      // method that gets an item by it's ID     
            getItem(id){
              fetch (`${urlAPI}/item/${item_id}`, {
                    method: 'GET',
              })
                  .then(response => response.json())
                  .then(response => console.log(this.item, json))
              .catch(err => console.error(err))
            },
      // method that deletes the selected item 
            deleteItem(id){
              fetch(`${urlAPI}/item/${id}`, {
                  method: 'DELETE',
              })
                  .then(json => console.log('item deleted', json))
                  .then(()=> this.getItems())
              .catch(err => console.error(err))            
            },

        },

    }).mount('#app')
    
  </script>

