<!doctype html>
<html lang="en">
  <!-- set up of skeleton layout framework-->
  <head>
    <meta charset="utf-8">
    <!--mobile specific set up (scales to mobile)
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!---links index.html to the css style sheets of the skeleton framework
    download framework css sheets here: http://getskeleton.com/#intro-->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/skeleton.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <title>FreeCycle</title>
  </head>

  <body>

    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>
      
      <div id="app">
        <!---Basic Skeleton navbar
        &nbsp; allows there to be a space after the text -->
        <div class="navBar" id="mainNavBar">
          <div class="eleven columns">
            <a href="#home">Home &nbsp; </a>
            <a href="#Items">Items &nbsp;</a>
            <a href="javascript:void(0);" class="icon" onClick="openDrawerMenu()">&#9776;</a>
          </div>
        </div>

        <h1><strong> Welcome to FreeCycle</strong></h1>
      
        <!---Sets up the input form to use skeletons 6 column set up
        http://getskeleton.com/#grid link to grid layout framework-->
        <div class="row">
          <div class="six columns">
            <h4><u>Set up your item to sell </u></h4>
            <form  @submit.prevent="postItem">
              <input v-model="item.user_id"  name ="user_id" placeholder="Enter your User Id"/>
              <input v-model="item.keywords" name ="keywords" placeholder="Enter Item keywords"/>
              <input v-model="item.description" name ="description" placeholder="Enter item description"/>
              <input v-model="item.image" name ="image" placeholder="image address (optional)"/>
              <input V-model="item.lat" name ="lat" placeholder="enter lat"/>
              <input v-model="item.lon" name ="lon" placeholder="enter lon"/>
              <!--link to skelton button documentation http://getskeleton.com/#buttons
              Changed button using layout framework-->
              <input data-action ="create_item" class="button-primary" type="submit" value="Create Item">  
            </form>
          </div>

          <!--sets up available items in a list, marked as seven columns so starts underneath the previous form-->
          <div class=" seven columns">

            <h4><u>Current items available:</u></h4>
            <!---Header for the items so User is aware of what each item is --->
            <h6>User     Description     Keywords     Image      Lat     Lon     Item Id   </h6>
            <!---sets up the list and gives each item space-->
            <ul>
              <li v-for="item in list">
                <span data-field="user_id">{{item.user_id}} &nbsp; </span>
                <span data-field ="description">{{item.description}} &nbsp;</span>
                <span data-field="keywords">{{item.keywords}} &nbsp;</span>
                <span data-field="image">{{item.image}} &nbsp;</span>
                <span data-field="lat">{{item.lat}} &nbsp;</span>
                <span data-field="lon">{{item.lon}} &nbsp;</span>
                <span data-field="id">{{item.id}} &nbsp;</span>
                <button class="button-primary" data-action="delete" @click="deleteItem(item.id)">Delete</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </body>
</html>

  <script type="module">
    import { createApp, ref } from 'vue'

    // sets the URL to the URLAPI. Using URlParams allows the content to work dynamically with the application. In this case, means no matter what codespace is used the server and client will work together
    // the README.md explains how to set this up. 
    const urlParams = new URLSearchParams(window.location.search);
    const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');
    console.log(urlAPI);
   
    // creates the application, as well as the item object and the list of objects. 
      createApp({
        data() {return {
            item: {
              user_id: "", 
              keywords: [""], 
              description: "", 
              image: "", 
              lat: "", 
              lon: "",             
            },
            list: [],
        } },

        // on start up this calls the getItems func to load the list of items and makes sure the form is clear so new entries can be made. 
        created(){
            this.getItems()
            this.clearForm()
        },

      // the methods the client uses
        methods: {
      // method to clear the form
            clearForm() {
              this.item ={...this.item,... {
                user_id: "",
                keywords: [""], 
                description: "", 
                image: "", 
                lat: "", 
                lon: "", 
              }}
            },

      // method that creates the item using the input
            postItem() {
              console.log(this.item)
              fetch(`${urlAPI}/item`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(this.item),
              })
                    .then(response => response.json())
                    .then(json => console.log("Item created", json))
                    .then(()=>this.clearForm())
                    .then(()=> this.getItems())
              .catch(err => console.error(err))              
            },
      // method that gets the list of items 
            getItems() {
              fetch(`${urlAPI}/items`, {
                    method: 'GET',
              })
                    .then(response => response.json())
                    .then(json => {this.list = json })
                    .then(json => console.log(this.list, json))
              .catch(err => console.error(err))
            },
      // method that gets an item by it's ID     
            getItem(id){
              fetch (`${urlAPI}/item/${item_id}`, {
                    method: 'GET',
              })
                  .then(response => response.json())
                  .then(response => console.log(this.item, json))
              .catch(err => console.error(err))
            },
      // method that deletes the selected item 
            deleteItem(id){
              fetch(`${urlAPI}/item/${id}`, {
                  method: 'DELETE',
              })
                  .then(json => console.log('item deleted', json))
                  .then(()=> this.getItems())
              .catch(err => console.error(err))            
            },

        },

    }).mount('#app')
    
  </script>

